nav.contacts{
    position: fixed;
    flex-flow: column;
    display: flex;
    padding: 10px;
    gap: 10px;
    z-index: 99999;
    right: 0;
    transition: 200ms;
    &:hover,
    &:has(button:hover),
    &:has(button:focus),
    &:has(a:hover),
    &:has(a:focus),
    &:has(input:hover),
    &:has(input:focus-visible){
        button,
        a,
        label{
            &::after,
            &::before{
                opacity: .2;
                transform: unset;
                transition: opacity 500ms, color 1.5s, transform 500ms;
                color: #fff;
            }
        }
    }
    &:hover{
        a,
        button,
        label{
            &::after,
            &::before{
                opacity: .2;
                transform: unset;
                transition: opacity 500ms, color 1.5s, transform 500ms;
                color: #fff;
            }
        }
    }
    a{
        box-shadow: 0px 0px 10px 0px #000;
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        border-radius: 10px;
        transition: 200ms;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.768627451);
        backdrop-filter: blur(2px) grayscale(1);
        cursor: pointer;
        z-index: 998;
        border: 2px solid #9a9a9a21;
        text-decoration: none;
        outline: none;
        &.contactsGithub::after{
            content: 'Github' !important;
        }
        &.contactsAuthor::after{
            content: 'Разработчик' !important;
        }
        &:hover,
        &:focus-visible{
            backdrop-filter: blur(2px) grayscale(1) brightness(0.2);
            transition: 200ms;
            border: 2px solid #656565;
            &::after,
            &::before{
                opacity: 1;
                transform: translateX(-6px);
                transition: opacity 500ms, color 1.5s, transform 500ms;
                color: #fff;
                pointer-events: none;
                user-select: none;
                outline: none;
            }
        }
        i{
            color: #fff;
            font-size: 18px;
            &.developer{
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url("../img/iRock.svg");
                width: 80%;
                height: 100%;
            }
        }
        &::after{
            position: absolute;
            content: '...';
            display: flex;
            padding: 4px 10px;
            background: #00000061;
            border: 2px solid #fff;
            right: calc(100% + 14px);
            z-index: -1;
            border-radius: 10px;
            font-weight: 600;
            color: #fff;
            backdrop-filter: grayscale(1) blur(2px);
            border: 2px solid #656565;
            transition: opacity 500ms, color 1.5s, transform 500ms;
            opacity: 0;
            transform: translateX(10px);
            pointer-events: none;
            color: #8d8d8d;
        }
        &::before {
            content: '';
            display: flex;
            position: absolute;
            border: 4px solid transparent;
            border-left: 4px solid #656565;
            right: calc(100% + 6px);
            transition: opacity 500ms, color 1.5s, transform 500ms;
            opacity: 0;
            transform: translateX(10px);
            border-top-right-radius: 4px;
            pointer-events: none;
        }
    }
    button,
    label#toggleAlternate{
        outline: none;
        &::before {
            content: '';
            display: flex;
            position: absolute;
            border: 4px solid transparent;
            border-left: 4px solid #656565;
            right: calc(100% + 6px);
            transition: opacity 500ms, color 1.5s, transform 500ms;
            opacity: 0;
            transform: translateX(10px);
            border-top-right-radius: 4px;
            pointer-events: none;
        }
        &::after{
            position: absolute;
            content: '...';
            display: flex;
            padding: 4px 10px;
            background: #00000061;
            border: 2px solid #fff;
            right: calc(100% + 14px);
            z-index: -1;
            border-radius: 10px;
            font-weight: 600;
            color: #fff;
            backdrop-filter: grayscale(1) blur(2px);
            border: 2px solid #656565;
            transition: opacity 500ms, color 1.5s, transform 500ms;
            opacity: 0;
            transform: translateX(10px);
            pointer-events: none;
            color: #8d8d8d;
            white-space: nowrap;
        }
        &:hover,
        &:focus-visible{
            backdrop-filter: blur(2px) grayscale(1) brightness(0.2) !important;
            transition: 200ms !important;
            border: 2px solid #656565 !important;
            &::after,
            &::before{
                opacity: 1;
                transform: translateX(-6px);
                transition: opacity 500ms, color 1.5s, transform 500ms;
                color: #fff;
            }
        }
    }
    button.callSettings,
    button.callAutorization{
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        border-radius: 10px;
        transition: 200ms;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.768627451);
        backdrop-filter: blur(2px) grayscale(1);
        cursor: pointer;
        z-index: 998;
        border: 2px solid #9a9a9a21;
        i{
            font-size: 20px;
            color: #fff;
        }
        &::after{
            content: 'Настройки';
        }
    }
    button.callAutorization{
        &::after{
            content: 'Пользователь';
        }
    }
    label#toggleAlternate{
        display: flex;
        position: relative;
        box-sizing: border-box;
        width: 50px;
        height: 50px;
        display: flex;
        border-radius: 10px;
        transition: 200ms;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.768627451);
        backdrop-filter: blur(2px) grayscale(1);
        cursor: pointer;
        z-index: 998;
        border: 2px solid rgba(154, 154, 154, 0.1294117647);
        box-sizing: border-box;
        &:has(input:focus-visible){
            backdrop-filter: blur(2px) grayscale(1) brightness(0.2) !important;
            transition: 200ms !important;
            border: 2px solid #656565 !important;
            &::after,
            &::before{
                opacity: 1;
                transform: translateX(-6px);
                transition: opacity 500ms, color 1.5s, transform 500ms;
                color: #fff;
            }
        }
        &:has(input:focus-visible:checked){
            --activeColor: #9dff00;
            border-color: var(--activeColor) !important;
            i{
                color: var(--activeColor) !important;
            }
        }
        &:has(input[type="checkbox"]:checked){
            --activeColor: #cf0;
            border-color: var(--activeColor);
            i{
                color: var(--activeColor);
            }
            &:hover{
                --activeColor: #9dff00;
                border-color: var(--activeColor) !important;
                i{
                    color: var(--activeColor) !important;
                }
            }
            &::after{
                content: 'Локальный ON';
            }
        }
        i{
            color: #fff;
            font-size: 16px;
            transition: 200ms;
        }
        input[type="checkbox"]{
            width: 0px;
            height: 0px;
            background: transparent;
            position: absolute;
        }
        &::after{
            content: 'Локальный OFF';
        }
    }
    i.menuDevider{
        width: 100%;
        height: 2px;
        background: #6e6e6eb5;
        box-shadow: 0px 0px 4px 1px #000;
    }

    a[disabled-by-developer="true"],
    button[disabled-by-developer="true"]{
        opacity: .3;
        pointer-events: none;
    }
}