section.bodyDOM{
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1s;
    left: 0;
    transition-timing-function: linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
    section.settings{
        position: absolute;
        width: calc(30% - 80px);
        height: calc(100% - 150px);
        left: 100%;
        background: #080808;
        z-index: 99999999;
        border-left: 2px solid #353535;
        box-shadow: 10px 0px 10px 0px #000 inset;
        padding: 40px;
        padding-top: 110px;
        overflow: hidden;
        user-select: none;
        cursor: default;
        flex-flow: column;
        gap: 30px;
        display: none;
        h1.settingsMenuTitle{
            color: #fff;
            margin: unset;
            font-weight: 500;
            text-align: center;
            background: #161616;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            padding: 10px 0px;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid #353535;
            box-shadow: 10px 0px 10px 0px #000 inset;
            button.backToWeb{
                position: absolute;
                left: 6px;
                width: 50px;
                height: 50px;
                cursor: pointer;
                background: transparent;
                border-radius: 10px;
                transition: 200ms;
                border: 2px solid transparent;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;
                &:hover{
                    backdrop-filter: brightness(.5) blur(4px);
                    transition: 200ms;
                    border: 2px solid #656565;
                }
            }
        }
        .settingItem{
            position: relative;
            background: #040404;
            padding: 10px;
            border-radius: 12px;
            box-shadow: 0px 0px 10px 0px #040404;
            display: flex;
            flex-flow: column;
            border: 2px solid #101010;
            width: calc(100% - 20px);
            height: fit-content;
            &Title{
                color: #fff;
                margin: unset;
                font-weight: 500;
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #161616;
                border-radius: 10px 10px 0px 0px;
                padding: 10px 0;
                font-size: 1rem;
            }
            .canvasSettings{
                position: relative;
                display: flex;
                flex-flow: column;
                gap: 10px;
                margin-top: 40px;
                p{
                    margin: unset;
                    color: #fff;
                    display: inline-flex;
                    align-items: center;
                    gap: 6px;
                    .canvasHigh{
                        display: none;
                        background: #ff00004d;
                        box-shadow: 0px 0px 4px 0px #ff0000 inset, 0px 0px 4px 0px #ff0000;
                    }
                    .canvasLow{
                        background: #10ff004d;
                        box-shadow: 0px 0px 4px 0px #10ff00 inset, 0px 0px 4px 0px #10ff00;
                    }
                    .particleCountScaleDown{
                        box-shadow: 0px -10px 20px -10px #ff0000 inset;
                    }
                    .particleCountScaleUp{
                        box-shadow: 0px 10px 20px -10px #10ff00 inset;
                    }
                }
                span{
                    padding: 6px;
                    background: #1e1e1e;
                    border-radius: 10px;
                    text-align: center;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    cursor: default;
                    min-width: 28px;
                    &.canvasFps,&.canvasParticleCount{
                        cursor: not-allowed;
                    }
                }
                button{
                    width: 30px;
                    height: 30px;
                    padding: 6px;
                    border-radius: 10px;
                    text-align: center;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    border: unset;
                    cursor: pointer;
                    transition: 100ms;
                    display: flex;
                    background: #000000;
                    &[disabled]{
                        &:active{
                            background: #1e1e1e;
                        }
                    }
                    &:active{
                        transition: 100ms;
                        transform: scale(.95);
                    }
                    &.particleCountScaleDown{
                        transition: 100ms;
                        &:active{
                            transition: 100ms;
                            transform: translateY(1px);
                        }
                        &[disabled]{
                        &:active{
                            background: #000;
                            transform: unset;
                        }
                    }
                    }
                    &.particleCountScaleUp{
                        transition: 100ms;
                        &:active{
                            transition: 100ms;
                            transform: translateY(-1px);
                        }
                        &[disabled]{
                        &:active{
                            background: #000;
                            transform: unset;
                        }
                    }
                    }
                }
            }
            
            .soundSettings{
                position: relative;
                display: flex;
                flex-flow: column;
                gap: 10px;
                margin-top: 40px;
                p{
                    margin: unset;
                    color: #fff;
                    display: inline-flex;
                    align-items: center;
                    gap: 6px;
                    &.soundOptionMain{
                        border-bottom: 2px solid #161616;
                        margin-bottom: 8px;
                        padding-bottom: 12px;
                    }
                    &.soundOption{
                        transition: 500ms;
                        transform: unset;
                        transform-origin: left;
                        &[soundallowed="false"]{
                            opacity: .3;
                            transition: 500ms;
                            transform: scale(.8) translateY(-10px);
                            filter: grayscale(1) brightness(5);
                        }
                        &:nth-child(1){
                            transition-delay: 400ms;
                        }
                        &:nth-child(2){
                            transition-delay: 300ms;
                        }
                        &:nth-child(3){
                            transition-delay: 200ms;
                        }
                        &:nth-child(4){
                            transition-delay: 100ms;
                        }
                    }

                button{
                    width: 30px;
                    height: 30px;
                    padding: 6px;
                    background: #1e1e1e;
                    border-radius: 10px;
                    text-align: center;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    border: unset;
                    cursor: pointer;
                    transition: 100ms;
                    &:active{
                        transition: 100ms;
                        transform: scale(.95);
                    }
                    &[disabled="disabled"]{
                        cursor: not-allowed;
                        &:active{
                            transition: 100ms;
                            transform: unset;
                        }
                    }
                    &.testSound{
                        background: transparent;
                        padding: unset;
                        width: unset;
                        height: unset;
                        &:hover{
                            i{
                                transition: 200ms;
                                color: #fff;
                            }
                        }
                        i{
                            font-size: .6rem;
                            color: #3d3d3d;
                            transition: 200ms;
                        }
                    }
                    &.soundMain-ON,
                    &.textSound-ON,
                    &.attentionSound-ON,
                    &.keyboardSound-ON,
                    &.cleanSound-ON{
                        background: #10ff004d;
                        box-shadow: 0px 0px 4px 0px #10ff00 inset, 0px 0px 4px 0px #10ff00;
                    }

                    &.soundMain-OFF,
                    &.textSound-OFF,
                    &.attentionSound-OFF,
                    &.keyboardSound-OFF,
                    &.cleanSound-OFF{
                        display: none;
                        background: #ff00004d;
                        box-shadow: 0px 0px 4px 0px #ff0000 inset, 0px 0px 4px 0px #ff0000;
                    }
                }
                }
                span{
                    padding: 6px;
                    background: #1e1e1e;
                    border-radius: 10px;
                    text-align: center;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    cursor: default;
                    min-width: 28px;
                }
            }   
        }
    }
}